@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@600;700&family=Noto+Sans:wght@500;700&display=swap");

/* used by all component */
h1 {
  font-size: var(--fs--xl);
  font-family: "Noto sans";
  font-weight: var(--fw--bold);
}

h2 {
  font-size: var(--fs--lg);
  font-weight: var(--fw--bold);
}

h3 {
  font-size: var(--fs--md);
  font-weight: var(--fw--bold);
}

.sm {
  font-size: var(--fs--sm);
}

label {
  margin-right: 5px;
}

p,
label {
  font-size: var(--fs--reg);
}

.app {
  background-color: rgba(24, 72, 44, 0.95);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 80px;
  color: aliceblue;
  padding-bottom: 50px;
}

/* chatbox */
.chatbox {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  /* border: #d3dba4 solid 1px; */
}

#phone-container {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bfcd66;
}

#phone {
  opacity: 60%;
}

.msg-outer-wrapper {
  display: flex;
  flex-direction: row;
}

.msg-outer-wrapper:first-child {
  margin-bottom: 20px;
}

.right {
  display: flex;
  justify-content: end;
}

.msg-wrapper {
  margin: 0px 20px;
}

.msg {
  padding: 8px 13px;
  margin-bottom: 15px;
  width: 313px;
  border-radius: 15px;
  background-color: var(--accent--1);
  display: flex;
}

.msg span {
  margin-left: 15px;
}

.first {
  position: absolute;
  z-index: 1;
}

.user {
  width: unset;
  padding: 10px 13px;
  margin-right: 95px;
  font-family: "Noto Color Emoji", sans-serif;
}

.msg-tail {
  position: relative;
  top: 40px;
  left: -10px;
  width: 30px;
  height: 30px;
  border-radius: 80%;
  background-color: var(--accent--1);
}

.msg-tail {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 80%;
  background-color: var(--accent--1);
}

.f1 {
  top: 40px;
  left: -14px;
}

.b1 {
  height: 50px;
  top: 0px;
  left: -27px;
  background-color: var(--bg);
}

.f2 {
  top: 8px;
  left: 20px;
}

.b2 {
  height: 50px;
  top: -6px;
  left: 1px;
  background-color: var(--bg);
}

img {
  position: relative;
  z-index: 2;
}

/* summary */
.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  width: 400px;
  height: 400px;
  background-color: var(--accent--3);
  transform: rotate(-5deg);
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.2));
}

.total {
  text-align: end;
}

.total > h2:first-child {
  display: inline-block;
  background-color: var(--accent--5);
  margin-bottom: 8px;
}

.total > h2 {
  display: inline-block;
  background-color: var(--accent--4);
  font-size: var(--fs--md);
}

h2 > span {
  margin: 0 15px;
}

li {
  list-style-type: none;
}

li > div {
  display: flex;
}

hr {
  margin-bottom: 10px;
  border: 1px dashed var(--text);
}

.quantity-container {
  width: 5%;
  margin-right: 5%;
}
.name-container {
  width: 40%;
  margin-right: 5%;
}
.price-container {
  width: 20%;
  margin-right: 5%;
}
.total-container {
  width: 20%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

/* form background */
.form {
  position: relative;
}

#backpages {
  position: relative;
  bottom: 6px;
  left: 20px;
  height: 650px;
  width: 1000px;
  z-index: 1;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.2));
}

#form-paper {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 40px;
  width: 980px;
  background-color: white;
  z-index: 2;
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* balance */
#balance-stamp {
  position: absolute;
  top: -23px;
  left: 878px;
  height: 170px;
  z-index: 3;
}

.balance-container {
  position: absolute;
  width: 170px;
  top: 30px;
  left: 880px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* header */
.header {
  padding: 15px 30px;
  width: 750px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header > p {
  padding-bottom: 8px;
}

/* form */

.form-wrapper {
  padding: 10px 30px;
  height: 50px;
  background-color: var(--main--1);
  display: flex;
  justify-content: space-between;
}

input {
  margin-right: 10px;
  font-family: "Maitree";
  font-size: var(--fs--reg);
  border: none;
  border-bottom: solid 2px var(--text);
  background-color: var(--main--1);
  text-align: center;
  height: 26px;
}

#name,
#image {
  width: 180px;
}

#price,
#quantity,
#unit {
  width: 55px;
}

#send-button {
  background-color: var(--accent--1);
  border-radius: 5px;
  padding: 0px 10px;
  border: var(--text) solid 2px;
  font-family: "Maitree";
  font-size: var(--fs--reg);
}

#send-button:hover {
  filter: brightness(1.2);
}

/* grocery-list */

.grocery-list {
  font-size: var(--fs--sm);
  padding: 20px 0 0px 0px;
  padding-left: 30px;
  /* height: 370px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 8px;
}

.grocery-container > img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  margin-left: 22px;
}

.grocery-container {
  margin-right: 30px;
  margin-bottom: 20px;
  height: 95px;
  border: var(--text) solid 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  margin-left: 15px;
}

.detail-container > div:first-child {
  display: flex;
  justify-content: space-between;
}

.card-button {
  position: relative;
  width: 22px;
  height: 22px;
  border: solid var(--text) 2px;
  color: var(--text);
  background: white;
}

.card-button:hover {
  cursor: pointer;
}

.subtract > span {
  position: relative;
  top: -5%;
}

.delete {
  left: 10px;
  bottom: 40px;
  border-radius: 50%;
  font-size: var(--fs--reg);
}

.delete > span {
  font-size: small;
}

.delete-list {
  position: absolute;
  border: none;
  left: 255px;
}

button,
select,
.toggle:hover {
  cursor: pointer;
}

.quantity,
.unit,
.subtract {
  margin-left: 10px;
}

.subtract,
.add {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent--2);
  color: white;
  font-weight: 700;
}

/*toggle*/
.bought {
  background-color: var(--accent--2);
  border: var(--accent--2) solid 2px;
  color: #e6eeb5;
}

.bought-button {
  background-color: var(--accent--3);
  /* border: solid var(--accent--3) 2px; */
  color: var(--accent--2);
}

/*sort + checkout*/

.checkout-button {
  font-family: "Maitree";
  font-size: var(--fs--reg);
  padding: 3px 20px;
  border-radius: 5px;
  background-color: var(--accent--5);
  border: var(--text) solid 2px;
}

.checkout-button:hover {
  filter: brightness(1.2);
}

.sort-checkout {
  margin: 0px 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sort {
  background-color: white;
  border-radius: 8px;
  height: 35px;
  padding: 0px 10px;
  border: var(--text) solid 2px;
}

#hidden {
  color: white;
}

/*pagination*/
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 160px;
}

.pagination-container > li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container > li:not(.selected):hover {
  cursor: pointer;
  color: var(--accent--5);
}

.selected {
  background-color: var(--accent--5);
  padding: 10px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
}

/*item list*/

.item-list {
  position: relative;
  display: flex;
  width: 240px;
  margin-right: 70px;
  margin-bottom: 15px;
}

.detail-container-list {
  display: flex;
}

.quantity-list::before {
  content: "(";
}

.unit-list {
  padding-left: 5px;
}

.unit-list::after {
  content: ")";
}

.price-list {
  padding-left: 15px;
  padding-right: 15px;
}

.bought-list {
  color: var(--accent--1);
  font-weight: 800;
}

.display-btn {
  background-color: transparent;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.display-btn:hover {
  border: 2px solid var(--accent--5);
}

.selected-display {
  background-color: var(--accent--5);
}

/*check box*/

.toggle {
  position: relative;
  left: -10px;
  bottom: 50px;
}

.check-input {
  position: absolute;
  opacity: 1;
}

.check-input:checked::before {
  content: "✔";
  color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: rgb(9, 74, 18);
  border: 1px solid var(--text);
  border-radius: 2px;
}

/*file input*/
.file-input-container {
  display: flex;
  overflow: hidden;
}

.input-file {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.file-input-label {
  margin-left: 5px;
  display: inline;
  background-color: #dca057;
  border-radius: 5px;
  padding: 0px 10px;
  border: var(--text) solid 2px;
  cursor: pointer;
  font-size: var(--fs--sm);
  color: #000000;
  height: 28px;
}

.file-name {
  border-bottom: var(--text) solid 2px;
  width: 100px;
  text-align: center;
  height: 26px;
}

.margin-left {
  margin-left: 40px;
}

input:focus {
  outline: none;
  border-bottom: #ddbe6a solid 2px;
}
