* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://res.cloudinary.com/dluc2m7kg/image/upload/v1694861629/mommy-grocery/nrd-D6Tu_L3chLE-unsplash_qhjyts.jpg");
  background-size: cover;
  background-position: center;
}
