/* 0-767 mobile
767-900 tablet portrait
900-1200 tablet landscape
1200-1800 normal
1800 big desktop */

@media (min-width: 1800px) {
  html {
    font-size: 70%;
  }
  .f2 {
    left: 2rem;
  }

  .b2 {
    left: 0.1rem;
  }

  #backpages1,
  #backpages2 {
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 52%;
  }
  .f2 {
    left: 2rem;
  }

  .b2 {
    left: 0.1rem;
  }

  #backpages1,
  #backpages2 {
    opacity: 0;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 48%;
  }
  .f2 {
    left: 2rem;
  }

  .b2 {
    left: 0.1rem;
  }

  #backpages1,
  #backpages2 {
    opacity: 0;
  }
}

/* change */
@media (max-width: 1200px) {
  html {
    font-size: 45%;
  }
  .f2 {
    left: 2rem;
  }

  .b2 {
    left: 0.1rem;
  }
  .form {
    width: 70rem;
  }

  #backpages {
    transform: rotate(90deg);
    left: -4rem;
    width: 82rem;
    height: 70rem;
  }
  #form-paper {
    width: 67rem;
    height: 77rem;
    top: -5rem;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .date {
    margin-top: 1rem;
    font-size: var(--fs--sm);
  }

  .form-wrapper {
    flex-wrap: wrap;
    line-height: 3.5rem;
  }
  #name {
    width: 22rem;
  }
  .file-name {
    width: 22rem;
  }
  .file-input-label {
    margin-left: 1rem;
  }

  .file-input-label {
    margin-right: 0rem;
  }
  .option-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .pagination-container {
    margin-right: 2rem;
  }
  .balance-wrapper {
    position: relative;
    left: -30rem;
    top: -76rem;
  }

  #backpages1,
  #backpages2 {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 37%;
  }
  .f2 {
    left: 2rem;
  }

  .b2 {
    left: 0.1rem;
  }
  #backpages1,
  #backpages2 {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  /* input page */
  html {
    font-size: 40%;
  }

  .logo-text {
    font-size: 13rem;
  }

  /* app page */

  #backpages {
    opacity: 0;
  }

  .pagination-sort-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }

  .pagination-container > li:last-child {
    width: 1rem;
  }

  .pagination-container {
    margin-right: 0;
  }

  .app {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    width: 100vh;
    height: 100%;
  }

  #backpages1 {
    opacity: 1;
    background-color: #c1cc7b;
    position: relative;
    top: -74.5rem;
    left: 13rem;
    width: 42rem;
    height: 114rem;
    transform: rotate(-1.9deg);
    z-index: 1;
    filter: drop-shadow(0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2));
  }

  #backpages2 {
    opacity: 1;
    background-color: #136833;
    position: absolute;
    top: -4rem;
    left: 14rem;
    width: 41rem;
    height: 112rem;
    transform: rotate(3deg);
    z-index: 1.5;
    filter: drop-shadow(0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2));
  }

  .form {
    height: 123rem;
    top: 11rem;
  }

  #form-paper {
    width: 63%;
    height: 111rem;
    top: -2rem;
    left: 18%;
  }

  #name {
    width: 92%;
    margin-right: 0;
  }

  .file-name {
    width: 12rem;
  }
  #price {
    margin-right: 0;
  }

  .detail-container {
    width: 25rem;
  }

  .delete {
    left: 35rem;
  }

  .delete-list {
    left: 35rem;
  }

  .grocery-container {
    width: 37rem;
  }

  .header h1 {
    font-size: 4rem;
  }
  .header h2 {
    margin-top: 1rem;
    font-size: var(--fs--reg);
  }
  .file-input-label {
    margin-right: 1rem;
  }

  .balance-wrapper {
    position: relative;
    left: -49rem;
    top: -190.5rem;
  }
  #balance-stamp {
    width: 17rem;
    height: 17rem;
  }
}
