:root {
  /*color*/
  --bg: #1f452f;
  --main--1: #ed752f;
  --main--2: #7458cc;
  --accent--1: #90a537;
  --accent--2: #b5c750;
  --accent--3: #d3dba4;
  --accent--4: #ddbe6a;
  --accent--5: #8d9aed;

  --text: #261803;

  /*font*/
  --fw--reg: 400;
  --fw--bold: 700;

  --fs--sm: 1.4rem;
  --fs--reg: 1.6rem;
  --fs--md: 2.7rem;
  --fs--lg: 3rem;
  --fs--xl: 5.1rem;
}

html {
  font-size: 57%;
}
